<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>모두 보기</title>
</head>
<body>
	<div class="container">
		<ul>
			<li>
				<h1>과자 모두 보기</h1> <!-- DB에 만들어준 과자를 모두 가져와서 볼 수 있음 --> <a
				href="/allSnack">과자 모두 보러가기</a>
			</li>
			<li>
				<h1>회사 모두 보기</h1> <a href="/allCompany">회사 모두 보러가기</a>
			</li>
		</ul>
		<ul>
			<h1>kh 멤버</h1>
			<li><a href="/register">kh멤버 회원가입</a></li>
			<li><a href="/allKHMember">kh멤버 전체보기</a></li>
		</ul>
	</div>
</body>
</html>