<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.khmall.mapper.ClothesMapper">
	<select id="getAllClothes" resultType="com.khmall.dto.Cloth">
		SELECT * FROM CLOTHES
	</select>

	<insert id="uploadCloth" parameterType="com.khmall.dto.Cloth">
		INSERT INTO clothes (clothes_id, clothes_name, clothes_price, clothes_category, clothes_image_path) 
		VALUES (clothes_seq.NEXTVAL, #{clothes_name}, #{clothes_price}, #{clothes_category}, #{clothes_image_path})		
	</insert>
</mapper>